.text-col{
    margin-top: 10%;
    height: 100vh;
}
body{
    background-color: #f0f0f0!important;
}
.c-img{
    width: 65%!important;
    margin: auto;
}
a{
    text-decoration: none;
}
.img-col{
    display: flex;
    align-items: center;
}
section{
    padding: 40px;
    padding-bottom: 0px!important;
}
.shop-now{
    margin-top: 30px;
    display: flex;
    align-items: center;
}
.shop-now img{
    margin-left: 10px;
    margin-top: 5px;
}
.products{
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.products img{
    width: 30%;
    border-radius: 15px;
}
.brand-logo{
    padding-left: 20px!important;
}
.home-images{
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
}
.display-prod{
    display: flex;
    justify-content: space-between;
}
.display-image{
    width: 90%;
    /*margin: auto;*/
    display: flex;
}
.prod-card{
    width: 25%;
    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
}
.sec-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sec-top h5{
    color: blue;
    cursor: pointer;
}
.container{
    margin-bottom: 6%;
}
.title-col{
    display: flex;
    flex-direction: row;
    /*justify-content: center;*/
    /*align-items: center;*/
}
.title-col-2{
    display: flex;
    flex-direction: row;
    /*justify-content: flex-end;*/
    /*align-items: center;*/
}
.text-col{
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/        
}
.title-col h1{
    width: 80%;
}
.shop-now{
    font-size: 20px;
}
.cat-div{
    display: flex;
    justify-content: space-between;
}
.cat-div-rion img{
    margin-right: 7%;
}
.text-col p{
    display: flex;
    justify-content: center;
}
/*.show-img{
    width: 80%;
    border-radius: 100%;
    height: 90%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}*/
.showcase{
    display: flex;
    justify-content: space-between;
}
.carousel-item img{
    min-height: 520px;
    max-height: 520px;
}
nav{
    background: linear-gradient(to right,#FD297A,#E6425E);
    /*background: ;*/
}
.navbar-nav{
    margin-left: auto;
}
.row{
    margin-bottom: 0px!important;
    padding-bottom: 0px!important;
}
.contact-us{
    width: 100%;
    height: 320px;
}
.contact{
    display: flex;
    justify-content: center;
}
input,select{
    border: 1.5px solid grey!important;
}
textarea{
    border: 1.5px solid grey!important;
}
@media only screen and (min-width: 320px) and (max-width: 500px){
    .text-col{
        height: 50%!important;
    }
    .title-col h1{
        font-size: 18px;
        width: 100%;
        text-align: center;
    }
    .text-col p{
         text-align: center;
    }
    .sec-top h1{
        font-size: 18px;
        margin-top: 20px;
    }
    .sec-top a h5{
        font-size: 15px;
    }
    .container{
        padding: 0px!important;
    }
    .container h1{
        font-size: 22px;
    }
    .display-prod{
        display: block;
        flex-direction: column;
    }
    .prod-card{
        width: 100%;
    }
    .display-image{
        display: flex;
        margin: auto;
    }
    section{
        padding: 20px;
    }
}